header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--header);
    box-shadow: 0 0 5px #00000050;
    display: flex;
    z-index: 100;
    transition: var(--t-100ms);
}

.header{
    margin: auto;
    width: 100%;
}

.header-top-container{
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.header-top-content{
    margin: auto;
    width: 100%;
    height: 70px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.header-top-logo h2,
.header-top-logo h2 b{
    font-family: "Anton", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: normal;
}

.header-top-logo h2{
    color: var(--black-3);
    display: flex;
    gap: 5px;
    transition: var(--t-100ms);
}

.header-top-logo h2 b{
    color: var(--red);
    transition: var(--t-100ms);
}

.menu-icon{
    width: 44px;
    height: 44px;
    position: relative;
    border-radius: 100%;
    background: var(--white-1);
    display: none;
}

.menu-icon span{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: var(--black-2);
    transition: var(--t-100ms);
}

.menu-icon-close{
    scale: 0;
}

.menu-icon.active .menu-icon-open{
    scale: 0;
}

.menu-icon.active .menu-icon-close{
    scale: 1;
}

/**/

.header-menu-container{
    height: 100%;
}

.header-menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-menu li{
    height: 100%;
}

.menu-link{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-link-repre-icon{
    display: none;
}

.menu-link h2{
    font-size: 16px;
    color: var(--black-2);
    transition: var(--t-100ms);
}

.menu-link.active h2,
.menu-link:hover h2{
    color: var(--red);
}

.menu-link-arrow{
    position: absolute;
    bottom: 10px;
    left: 50%;
    translate: -50% 0;
    opacity: 0;
    transition: var(--t-100ms);
    font-size: 15px;
}

.menu-link.active .menu-link-arrow,
.menu-link:hover .menu-link-arrow{
    opacity: 1;
    color: var(--red);
}

/**/

.header-bottom-container{
    width: 100%;
    padding: 0 20px;
    padding-bottom: 10px;
    display: flex;
}

.header-bottom-content{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    gap: 10px;
}

.header-bottom-locations-container{
    position: relative;
}

.header-bottom-locations{
    position: absolute;
    left: 0;
    top: calc(100% + 20px);
    width: calc(100% + 210px);
    background: var(--header);
    border-radius: 5px;
    transition: var(--t-100ms);
    border: 1px solid var(--white-1);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    /* interpolate-size: allow-keywords; */
}

.header-bottom-locations.active,
.header-bottom-translates.active,
.header-bottom-themes.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

/**/

.header-search-bar-container{
    width: calc(100% - 400.94px);
    height: 44px;
    position: relative;
}

.header-search-bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 5px;
    background: #FFFFFF50;
    outline: 0;
    border: 2px solid var(--white-1);
    transition: var(--t-100ms);
}

.header-search-bar:hover,
.header-search-bar:focus{
    border: 2px solid var(--red);
}

.header-search-bar-container span{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    color: var(--white-1);
}

/**/

.header-bottom-translate-container{
    position: relative;
}

.header-bottom-translates{
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    background: var(--header);
    border: 1px solid var(--white-1);
    padding: 10px;
    border-radius: 5px;
    transition: var(--t-100ms);
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.peru-layer,
.eeuu-layer{
    width: 30px;
    height: 18px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.peru-layer{
    background: #FF0000;
}

.peru-layer::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% 0;
    width: calc(100% / 3);
    height: 100%;
    background: var(--white);
}

.eeuu-layer{
    border: 1px solid var(--white-1);
    background: var(--white);
}

.eeuu-blue{
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% / 3);
    height: calc(100% / 2);
    background: blue;
    border-bottom-right-radius: 2px;
    z-index: 1;
}

.eeuu-line{
    position: absolute;
    left: 0;
    width: 100%;
}

.eeuu-line-1{
    height: 100%;
    background: crimson;
}

.eeuu-line-2{
    top: 2px;
    height: calc(100% - 4px);
    background: var(--white);
}

.eeuu-line-3{
    top: 4px;
    height: calc(100% - 8px);
    background: crimson;
}

.eeuu-line-4{
    top: 50%;
    translate: 0 -50%;
    height: 3px;
    background: var(--white);
}

/**/

.header-bottom-themes-container{
    position: relative;
}

.header-bottom-themes{
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    background: var(--header);
    border: 1px solid var(--white-1);
    padding: 10px;
    border-radius: 5px;
    transition: var(--t-100ms);
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

/**/

.sub-header-container{
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: var(--header);
    interpolate-size: allow-keywords;
    transition: var(--t-300ms);
    padding: 0 20px;
    /* padding-bottom: 20px; */
    z-index: 99;
    /* opacity: 0;
    pointer-events: none;
    user-select: none; */
    display: flex;
}

.sub-header-container.active{
    height: auto;
    padding-bottom: 20px;
}

.sub-header-content{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    height: 100%;
}

.sub-header-target{
    width: 100%;
    display: none;
    grid-template-columns: 375px 1fr;
    gap: 10px;
}

.sub-header-target.active{
    display: grid;
}

.sub-header-target-column{
    width: 100%;
}

.sub-header-target-column-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-header-target-title{
    font-size: 32px;
    color: var(--black-0);
    font-family: 'Anton';
    font-weight: normal;
}

.sub-header-target-column-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sub-header-target-column-list li{
    flex: 1 1 clamp(250px, calc(calc(100% / 3) - calc(20px / 3)), 100%);
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    transition: var(--t-100ms);
}

.sub-header-target-column-list li:hover{
    background: rgba(218 17 29 / 0.075);
}

.sub-header-target-column-list-link{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sub-header-target-column-list-link img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.sub-header-target-column-list-link div h4{
    font-size: 18px;
    color: var(--black-0);
    transition: var(--t-100ms);
}

.sub-header-bottom{
    grid-column: 1/-1;
    display: flex;
}

.sub-header-bottom p{
    margin: auto;
    font-size: 13px;
    color: #999999;
    transition: var(--t-100ms);
}

/**/

@media screen and (max-width:600px){
    .header-top-content{
        height: 64px;
    }

    .header-top-logo h2,
    .header-top-logo h2 b{
        font-size: 30px;
    }
    
    .header-menu-container{
        position: fixed;
        left: 0;
        top: 118px;
        width: 100%;
        /* height: calc(100vh - 118px); */
        background: var(--header);
        padding: 0 20px;
        display: none;
    }
    .header-menu{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
    }
    .header-menu li{
        width: 100%;
        height: auto;
    }
    .menu-link{
        width: 100%;
        min-height: 44px;
        justify-content: left;
        padding: 0 20px;
        border-radius: 5px;
        gap: 5px;
    }
    .menu-link:hover{
        background: rgba(218 17 29 / 0.075);
    }
    .menu-link-repre-icon{
        display: block;
        color: var(--black-2);
        transition: var(--t-100ms);
    }
    .menu-link:hover .menu-link-repre-icon{
        color: var(--red);
    }
    .menu-link-arrow{
        position: unset;
        opacity: 1;
        rotate: -90deg;
        translate: 0 0;
        left: unset;
        bottom: unset;
        font-size: 20px;
        margin-left: auto;
    }

    .header-top-contact{
        display: none !important;
    }

    .menu-icon{
        display: block;
    }

    .header-bottom-container{
        padding: 0 10px;
        padding-bottom: 10px;
    }
    .header-bottom-content{
        gap: 5px;
    }
    
    .header-bottom-locations-button,
    .header-bottom-translate-button,
    .header-bottom-themes-button{
        gap: 0 !important;
        overflow: hidden;
    }
    .header-bottom-locations-button .link-text{
        display: none;
    }
    .header-bottom-locations{
        width: calc(100% + 280px);
    }

    .header-search-bar-container{
        width: calc(100% - 219px);
    }

    /**/

    .sub-header-container{
        top: 64px;
        /* height: calc(100vh - 64px); */
        /* padding: 0 20px; */
        overflow: hidden;
        overflow-y: auto;
        /* display: none; */
    }
    .sub-header-target{
        grid-template-columns: 1fr;
    }
    .sub-header-target-column-list li{
        flex: 1 1 clamp(150px, calc(calc(100% / 2) - calc(10px / 2)), 100%);
    }
    .sub-header-target-column-list-link img{
        width: 32px;
        height: 32px;
    }
    
    .sub-header-bottom{
        margin-bottom: 20px;
    }
}