.custom-cursor{
    position: fixed;
    width: 56px;
    height: 56px;
    background: transparent;
    border: 4px solid var(--red);
    border-radius: 100%;
    pointer-events: none;
    z-index: 1000;
    transition: all 50ms ease;
    transform: translate(-50%, -50%) scale(1);
}

.custom-cursor.hovered{
    background: var(--red);
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}