.dark-mode{
    --body: #333333;
    --header: #000000;
    --subheader: #212121;

    --white: #FFFFFF;
    --red: #EE2532;
    --whatsapp: #25D366;

    --text: #FFFFFF;
}

/**/

.dark-mode .link-1{
    border: 1px solid var(--white);
}

.dark-mode .link-1:hover{
    background: rgba(235 235 235 / 0.25);
}

.dark-mode .link-1 .link-text,
.dark-mode .link-1 span{
    color: var(--white);
}

/**/

.dark-mode .header-logo h2{
    color: var(--white);
}

/**/

.dark-mode .menu-link h2,
.dark-mode .menu-link span{
    color: var(--black-9);
}

.dark-mode .menu-link:hover h2,
.dark-mode .menu-link.active h2,
.dark-mode .menu-link:hover span,
.dark-mode .menu-link.active span{
    color: var(--white);
}

.dark-mode .menu-link.active .menu-link-chevron-right{
    color: var(--white);
}

/**/

.dark-mode .locations-button.active,
.dark-mode .locations-button:hover,
.dark-mode .translate-button.active,
.dark-mode .translate-button:hover{
    background: rgba(235 235 235 / 0.25);
}

.dark-mode .locations-button:hover span,
.dark-mode .locations-button:hover p,
.dark-mode .locations-button.active span,
.dark-mode .locations-button.active p,
.dark-mode .translate-button:hover span,
.dark-mode .translate-button:hover p,
.dark-mode .translate-button.active span,
.dark-mode .translate-button.active p{
    color: var(--white);
}

.dark-mode .header-bottom-button-selection ul li a:hover,
.dark-mode .header-bottom-button-selection ul li button:hover{
    background: rgba(235 235 235 / 0.25);
}

.dark-mode .header-bottom-button-selection ul{
    border: 1px solid var(--black-3);
}

.dark-mode .header-bottom-button-selection ul li a:hover p,
.dark-mode .header-bottom-button-selection ul li a:hover span,
.dark-mode .header-bottom-button-selection ul li button:hover p,
.dark-mode .header-bottom-button-selection ul li button:hover span{
    color: var(--white);
}

/**/

.dark-mode .search-bar-container input:focus{
    border: 2px solid var(--white);
}

.dark-mode .search-bar-container input{
    color: var(--white);
}

/**/

.dark-mode .dark-button{
    background: var(--black-4);
}

.dark-mode .dark-button span{
    color: var(--white);
}

/**/

.dark-mode .sub-header-1-target-target-2 ul li a:hover{
    background: var(--white-1);
}

.dark-mode .sub-header-1-target-target-2 ul li a img{
    filter: brightness(10000%);
}

.dark-mode .sub-header-1-target-target-2 ul li a:hover img{
    filter: unset;
}

.dark-mode .sub-header-1-target-target-2 ul li a .card-title{
    color: var(--white);
}

.dark-mode .sub-header-1-target-target-2 ul li a:hover .card-title{
    color: var(--black-0);
}

.dark-mode .sub-header-1-target-target-2 ul li a:hover .text{
    color: var(--black-5);
}

.dark-mode .sub-header-1-target-target-2 ul li a{
    background: var(--black-3);
}

/**/

.dark-mode .sub-header-machinery ul li > div{
    background: var(--black-3);
}

.dark-mode .sub-header-machinery ul li > div:hover{
    background: var(--white-1);
}

.dark-mode .sub-header-machinery ul li > div img{
    filter: brightness(10000%);
}

.dark-mode .sub-header-machinery ul li > div:hover img{
    filter: unset;
}

.dark-mode .sub-header-machinery ul li > div > div .card-title{
    color: var(--text);
}

.dark-mode .sub-header-machinery ul li > div:hover > div .card-title{
    color: var(--black-0);
}

.dark-mode .sub-header-machinery ul li > div > div .text{
    color: var(--text);
}

.dark-mode .sub-header-machinery ul li > div:hover > div .text{
    color: var(--black-5);
}

/**/

.sub-header-3 ul li a{
    background: var(--black-3);
}

.dark-mode .sub-header-3 ul li a:hover{
    background: var(--white-1);
}

.sub-header-3 ul li a .card-title{
    color: var(--white);
}

.dark-mode .sub-header-3 ul li a:hover .card-title{
    color: var(--black-0);
}

.dark-mode .sub-header-3 ul li a:hover .text{
    color: var(--black-5);
}

@media screen and (max-width: 600px){
    .dark-mode .menu-link:hover,
    .dark-mode .menu-link.active{
        background: rgba(235 235 325 / 0.15);
    }
}