.dark-mode{
    --body: #212121;
    --header: #000000;

    --white: #FFFFFF;
    --red: #EE2532;
    --whatsapp: #25D366;

    --text: #FFFFFF;
}

/**/

.dark-mode .link-1{
    border: 1px solid var(--white);
}

.dark-mode .link-1:hover{
    background: #FFFFFF35;
}

.dark-mode .link-1 .link-text,
.dark-mode .link-1 span{
    color: var(--white);
}

.dark-mode .link-3.active,
.dark-mode .link-3:hover{
    background: #FFFFFF35;
}

.dark-mode .link-3 .link-text,
.dark-mode .link-3 span{
    color: var(--black-9);
}

.dark-mode .link-3.active .link-text,
.dark-mode .link-3:hover .link-text,
.dark-mode .link-3.active span,
.dark-mode .link-3:hover span{
    color: var(--white);
}

/* Header */

.dark-mode .header-top-logo h2{
    color: var(--white-1);
}

.dark-mode .menu-link h2,
.dark-mode .menu-link span{
    color: var(--white);
}

.dark-mode .menu-link.active .menu-link-arrow,
.dark-mode .menu-link:hover .menu-link-arrow{
    opacity: 1;
    color: var(--white);
}

/* Subheader */

.dark-mode .sub-header-target-column-list li:hover{
    background: var(--white-1);
}

.dark-mode .sub-header-target-column-list-link div h4{
    color: var(--white);
}

.dark-mode .sub-header-target-column-list-link:hover div h4,
.dark-mode .sub-header-target-column-list-link:hover div p{
    color: var(--black-5);
}

/* Hero */

.dark-mode .hero-target-1 h1{
    color: var(--white);
}

.dark-mode .hero-card{
    background: var(--black-3);
    border: none;
}

.dark-mode .hero-card div{
    border-left: none;
}

.dark-mode .hero-card-content .card-title{
    color: var(--white-1);
}

.dark-mode .hero-card-content .simple-link .simple-link-text,
.dark-mode .hero-card-content .simple-link span{
    color: var(--white);
}

.dark-mode .hero-card-button{
    background: none;
    border: 1px solid var(--white);
}

.dark-mode .hero-card-button span{
    color: var(--white);
    
}

.dark-mode .hero-card-button:hover,
.dark-mode .hero-card-button.active{
    background: var(--white);
    border: 0;
}

.dark-mode .hero-card-button:hover span,
.dark-mode .hero-card-button.active span{
    color: var(--black-3);
}