@import url('./DarkMode.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    font-family: 'Roobert', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 140px;
}

body::-webkit-scrollbar{
    display: none;
}

:root{
    --body: #F5F5F5;
    
    --header: #FFFFFF;

    --red: #DA131F;
    --check: lightgreen;

    --black-0: #000000;
    --black-1: #111111;
    --black-2: #222222;
    --black-3: #333333;
    --black-4: #444444;
    --black-5: #555555;
    --black-6: #666666;
    --black-7: #777777;
    --black-8: #888888;
    --black-9: #999999;

    --text: #212121;

    --white: #FFFFFF;
    --white-1: #FFFFFF;

    --t-100: all 100ms linear;
    --t-300: all 300ms linear;
}

/**/

@font-face{
    font-family: 'Anton';
    src: url('../public/assets/fonts/AntonSC-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roobert';
    src: url('../public/assets/fonts/RoobertSemiBold.ttf') format('truetype');
}

/**/

.font-anton{
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

/**/

.material-symbols-outlined{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

/**/

body{
    background: var(--body);
    color: var(--text);
    transition: var(--t-100);
}

/**/

.hero-video-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
}

.hero-video{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero-video::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 0.75);
    z-index: -1;
}

/**/

.home-hero-container{
    width: 100%;
    height: auto;
    padding: 40px 20px;
    display: flex;
}

.home-hero{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-hero .name,
.home-hero .name span{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    color: var(--white);
}

.home-hero .name span{
    color: var(--red);
}

.home-hero h1{
    line-height: 105px;
}

.home-hero h1,
.home-hero h1 span{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: normal;
    color: var(--white);
}

.home-hero h1{
    display: flex;
    flex-direction: column;
}

.home-hero h1 span{
    color: var(--red);
}

.home-hero ul li p{
    color: var(--white);
}

.home-hero-content img{
    width: 450px;
    height: auto;
    object-fit: contain;
}

.hero-link-2{
    background: rgba(255 255 255 / 0.25);
}

.hero-link-2 span,
.hero-link-2 .button-link-text{
    color: var(--white);
}

.hero-link-2 .button-link-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img{
    margin: auto;
    width: 100%;
    max-width: 560px;
    height: auto;
    object-fit: contain;
}

/**/

.block-container{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    background: var(--body);
}

.block-content{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    height: auto;
}

.block-title-container h3{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
}

.text{
    color: var(--text);
}

/**/

.mx-width-500{
    width: 100%;
    max-width: 500px;
}

/**/

.d-flex{
    display: flex;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

/**/

.d-grid-2-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/**/

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

/**/

.list-simple{
    width: 100%;
}

.list-simple li{
    width: 100%;
    display: flex;
    gap: 5px;
}

.list-simple li span{
    color: var(--check);
}

/**/

.img-simple{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

/**/

button{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

/**/

.button-link{
    width: auto;
    min-height: 44px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    border-radius: 4px;
    transition: var(--t-100);
}

.button-link span,
.button-link .button-link-text{
    transition: var(--t-100);
}

.button-link-1{
    background: var(--red);
}

.button-link-1 span,
.button-link-1 .button-link-text{
    color: var(--white);
}

.button-link-1:hover{
    background: #D10412;
}

.button-link-2{
    background: rgba(218 19 31 / 0.25);
}

.button-link-2 span,
.button-link-2 .button-link-text{
    color: var(--red);
}

/**/

.margin-auto{
    margin: auto;
}

.margin-left{
    margin-left: auto;
}

.margin-right{
    margin-right: auto;
}

/**/

header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 20px;
    width: 100%;
    height: 70px;
    display: flex;
    background: var(--header);
    z-index: 100;
}

.header{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo p{
    display: flex;
    gap: 3px;
}

.header-logo p,
.header-logo p span{
    color: var(--text);
    font-size: 32px;
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.header-logo p span{
    color: var(--red);
}

.menu-container{
    width: auto;
    height: 100%;
}

.menu{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* gap: 5px; */
}

.menu-link-icon{
    display: none;
}

.menu-link h2,
.menu-link span{
    color: var(--black-5);
    transition: var(--t-100);
}

.menu-link span{
    font-size: 22px;
}

.menu-link:hover h2,
.menu-link:hover span{
    color: var(--red);
}

/**/

.sub-header-container{
    position: fixed;
    left: 50%;
    top: 80px;
    translate: -50% 0;
    width: calc(100vw - 40px);
    max-width: 1600px;
    padding: 10px;
    display: flex;
    background: var(--header);
    border-radius: 8px;
}

.sub-header{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    gap: 10px;
}

.sub-header li{
    flex: 1 1 clamp(200px, calc(calc(100% / 4) - calc(60px / 4)), 100%);
}

.sub-header li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    transition: var(--t-100);
    border-radius: 6px;
    border: 1px solid transparent;
}

.sub-header li a h2,
.sub-header li a span{
    color: var(--text);
    transition: var(--t-100);
}

.sub-header li a:hover{
    background: rgba(218 19 31 / 0.05);
    border: 1px solid var(--red);
}

.sub-header li a:hover h2,
.sub-header li a:hover span{
    color: var(--red);
}

/**/

.home-clients-container{
    width: 100%;
    overflow-x: scroll;
}

.home-clients{
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    animation: homeClients 10s linear infinite;
}

@keyframes homeClients{
    
}

.home-clients li img{
    width: 150px;
    height: 80px;
    object-fit: contain;
}

/**/

@media screen and (max-width:600px){

    /**/

    *{
        font-size: 14px;
    }

    /**/

    .home-hero .name, .home-hero .name span{
        font-size: 32px;
    }

    /**/

    .home-hero h1{
        line-height: 65px;
    }

    .home-hero h1, .home-hero h1 span{
        font-size: 48px;
    }

    .home-hero-content ul.d-flex.gap-10 li{
        width: 100%;
    }

    /**/

    .img-simple{
        height: 160px;
    }

    /**/

    .d-grid-2-1{
        grid-template-columns: 1fr;
    }
}