@import url('./DarkMode.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    text-decoration: none;
    list-style: none;
    font-family: 'Roobert', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 140px;
}

body::-webkit-scrollbar{
    display: none;
}

:root{
    --body: #F5F5F5;
    
    --header: #FFFFFF;

    --red: #DA131F;
    --check: lightgreen;

    --black-0: #000000;
    --black-1: #111111;
    --black-2: #222222;
    --black-3: #333333;
    --black-4: #444444;
    --black-5: #555555;
    --black-6: #666666;
    --black-7: #777777;
    --black-8: #888888;
    --black-9: #999999;

    --text: #212121;

    --white: #FFFFFF;
    --white-1: #FFFFFF;

    --t-100: all 100ms linear;
    --t-300: all 300ms linear;
}

/**/

@font-face{
    font-family: 'Anton';
    src: url('../public/assets/fonts/AntonSC-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roobert';
    src: url('../public/assets/fonts/RoobertSemiBold.ttf') format('truetype');
}

/**/

.font-anton{
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

/**/

.material-symbols-outlined{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

/**/

body{
    background: var(--body);
    color: var(--text);
    transition: var(--t-100);
}

main{
    margin-top: 140px;
}

.block-container{
    width: 100%;
    padding: 20px;
    display: flex;
}

.block-content{
    margin: auto;
    width: 100%;
    max-width: 1600px;
}

.d-flex{
    display: flex;
}

.d-flex-left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.gap-5{
    gap: 5;
}

.gap-10{
    gap: 10px;
}

.gap-15{
    gap: 15px;
}

.gap-20{
    gap: 20px;
}

.list-simple{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-simple li{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.list-icon-check{
    color: var(--check);
}

.img-simple{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.text{
    color: var(--text);
}

/**/

button{
    width: auto;
    height: 44px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-icon{
    width: 44px;
    overflow: hidden;
    border-radius: 100%;
    transition: var(--t-100);
}

.button,
.button-link{
    position: relative;
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 5px;
    transition: var(--t-100);
    gap: 5px;
}

.button-link-text{
    transition: var(--t-100);
}

.button-link-1{
    background: var(--red);
    border: 1px solid var(--red)
}

.button-link-1 .material-symbols-outlined,
.button-link-1 .button-link-text{
    color: var(--white);
}

.button-link-2{
    border: 1px solid var(--red);
    color: var(--red);
}

.button-link-2:hover{
    background: rgba(218 19 31 / 0.1);
}

.button-link-2 .button-link-text,
.button-link-2 .material-symbols-outlined{
    color: var(--red);
}

.button-text-link:hover .button-link-text{
    text-decoration: underline;
}

.button-text-link-1 .button-link-text{
    color: var(--red);
}

.button-link:hover .button-link-label{
    opacity: 1;
}

.button-link-label{
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    background: rgba(218 19 31 / 0.1);
    color: var(--red);
    border: 1px solid var(--red);
    transition: var(--t-100);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

/**/

.margin-left{
    margin-left: auto;
}

/**/

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background: var(--header);
    transition: var(--t-100);
    /* border-bottom: 1px solid rgba(0 0 0 / 0.1); */
    display: flex;
    z-index: 100;
}

.header{
    width: 100%;
    display: grid;
}

.header-top-container,
.header-bottom-container{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 20px;
}

.header-top,
.header-bottom{
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/**/

.logo h2{
    word-spacing: -5px;
}

.logo h2,
.logo h2 b{
    font-size: 40px;
    color: var(--red);
    transition: var(--t-100);
}

.logo h2 b{
    color: var(--black-0);
}

/**/

.dark-button{
    width: 44px;
    height: 44px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 5px;
}

.dark-button span{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    transition: var(--t-100);
    color: var(--text);
}

.sun{
    scale: 0;
}

.dark-button.active .sun{
    scale: 1;
}

.dark-button.active .moon{
    scale: 0;
}

/**/

.language-button{
    width: 44px;
    height: 44px;
}

.language-button span{
    font-size: 32px;
}

/**/

.header-top-contact-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/**/

.menu-container{
    width: auto;
    height: 100%;
    display: flex;
}

.menu{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu li{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.menu-link .icon-representation{
    display: none;
}

.menu-link .icon-down{
    position: absolute;
    left: 50%;
    bottom: -5px;
    translate: -50% 0;
    font-size: 18px;
    transition: var(--t-100);
    opacity: 0;
}

.menu-link:hover .icon-down,
.menu-link.active .icon-down{
    opacity: 1;
}

.menu-link span,
.menu-link h2{
    color: var(--text);
    transition: var(--t-100);
}

.menu-link:hover span,
.menu-link.active span,
.menu-link:hover h2,
.menu-link.active h2{
    color: var(--red);
}

.menu-icon{
    display: none;
    width: 44px;
    position: relative;
    border-radius: 100%;
    background: #E6E6E6;
}

.menu-icon span{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: var(--text);
}

/**/

.search-bar-container{
    width: 100%;
    max-width: 400px;
    height: 44px;
    position: relative;
}

.search-bar{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: 0;
    background: #F0F0F0;
    outline: 0;
    border-radius: 5px;
    color: var(--text);
}

.search-bar::placeholder{
    color: var(--black-9);
}

.search-bar-options-container{
    position: absolute;
    left: 0;
    top: calc(100% + 25px);
    width: 100%;
    height: auto;
    max-height: calc(44px * 5);
    background: var(--header);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px;
}

.search-bar-options-container::-webkit-scrollbar{
    border-radius: 5px;
    width: 3px;
}

.search-bar-options-container::-webkit-scrollbar-thumb{
    background: var(--red);
    border-radius: 5px;
}

.search-bar-options{
    width: 100%;
    height: auto;
}

.search-bar-options li{
    width: 100%;
}

.search-bar-options li a{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20px;
    color: var(--text);
    transition: var(--t-100);
}

.search-bar-options li a:hover{
    background: rgba(218 19 31 / 0.075);
}

/**/

.hero-container{
    width: 100%;
    padding: 20px;
}

.hero{
    margin: auto;
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.hero-card{
    width: 100%;
    height: 100%;
}

.hero-card h1,
.hero-card h1 b{
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    font-weight: unset;
    text-transform: uppercase;
    color: var(--text);
    transition: var(--t-100);
}

.hero-card h1 b{
    color: var(--red);
}

.hero-card-2 img{
    height: 320px;
}

/**/

.chatBotButton{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background: orange;
}

/**/

@media screen and (max-width: 800px){

    *{
        font-size: 16px;
    }

    /**/

    .logo h2, .logo h2 b{
        font-size: 32px;
    }

    /**/

    .header-top .button-text-link{
        display: none;
    }

    /**/

    .hero-card h1, .hero-card h1 b{
        font-size: 48px;
    }

    .hero-card-2 img{
        height: 240px;
    }
}

/**/

@media screen and (max-width: 600px){

    *{
        font-size: 13px;
    }

    /**/

    .logo h2, .logo h2 b{
        font-size: 30px;
    }

    /**/

    .menu-container{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .header-top .button-link-1{
        display: none;
    }

    /**/

    .hero{
        grid-template-columns: 1fr;
    }

    .hero-card h1, .hero-card h1 b{
        font-size: 44px;
    }

    .hero-card-2 img{
        height: 160px;
    }
}