.home-page-1{
    position: relative;
    overflow: hidden;
}

.home-page-1 > video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.home-page-1::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 0.70);
    z-index: -1;
}

.home-page-1 section > div > .card-item{
    background: rgba(255 255 255 / 0.15);
}

.home-page-1 section > div > .card-item:hover{
    background: rgba(255 255 255 / 0.3);
}

.home-page-1 section > div > .card-item span,
.home-page-1 section > div > .card-item p{
    color: var(--white);
}